<header>
  {% include 'BogdanRemusCristian/animation.html.twig' %}
  <div class="brc-details">
    <p class="brc-name brc-filter">{{ owner }}</p>
    <p class="brc-job brc-filter">
      <em>.{{ job }}</em>
    </p>
  </div>
  <div class="brc-avatar-container">
    <img class="brc-avatar brc-magnify brc-filter" src="/BogdanRemusCristian/images/brc.jpg" alt="{{ owner }}" />
  </div>
</header>