<html>
   <head>
      <title>{{owner}}</title>
      <link rel="stylesheet" href="BarzMihai/css/bgstyle.css" />
   </head>
   <body class="body-style">
      <div class="bg-column">
         <h3>Date personale</h3>
         <table class="bg-personal">
            <tbody>
               <tr>
                  <td><span class="mdi mdi-cake-variant"></span>Nume</td>
                  <td>Barz Mihai</td>
               </tr>
               <tr>
                  <td><span class="mdi mdi-cake-variant"></span>Data nașterii</td>
                  <td>18.08.1989</td>
               </tr>
               <tr>
                  <td>Adresă email</td>
                  <td>
                     <a href="mihai.barz89@gmail.com">mihai.barz8@gmail.com</a>
                  </td>
               </tr>
               <tr>
                  <td>GitHub account</td>
                  <td>
                     <a href="https://github.com/Geanina93">TODO:</a>
                  </td>
               </tr>
               <tr>
                  <td>LinkedIn account</td>
                  <td>
                     <a href="https://www.linkedin.com/in/barz-mihai-658218ab/">Mihai Barz</a>
                  </td>
               </tr>
               <tr>
                  <td><span class="mdi mdi-card-account-details"></span>Permis de conducere:</td>
                  <td>A, B, C, E</td>
               </tr>
               <tr>
                  <td><span class="mdi mdi-card-account-details"></span>Citat motivational:</td>
                  <td>
                     <p class="text-style">Great things in business are never done by one person. They're done by a team of people.
                                           Read more at https://www.brainyquote.com/authors/steve-jobs-quotes </p>
                                           by Steve Jobs
                  </td>
               </tr>
            </tbody>
         </table>
         <section id="about">
            <div class="section-inner">
               <h2>Despre mine</h2>
               <p>Sunt Mihai am {{age}}  ani si sunt senior full stack programer. </br>Am terminat Universitatea Tehnica Cluj Napoca, sectia Computer Science.
                  </br>Lucrez in domeniul IT de 8 ani.
                  </br> In acest timp am interactionat cu mai multe domenii precum: banking, automotive, financial si medical.
               </p>
               <h3>Aptitudini</h3>
               <ul>
                  <li>Java (framework:Spring Boot)</li>
                  <li>Angular (framework:PrimeNg) </li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>database</li>
               </ul>
            </div>
         </section>
      </div>
   </body>
   </html>