<header id="sa-header">
    <div id="sa-container">
        <img id="sa-image" src="/SasAnamaria/images/eu.jpg" alt="{{ name }}"/>
    </div>
    <aside>
        <span>{{ name }}</span>
        <span> <a href=" mailto:{{ email }}"> {{ email }}</a></span>
    </aside>

</header>