<!DOCTYPE html>
<html>
    <head>
        <title>{{owner}}</title>
        <link rel="stylesheet" href="MirceaRaul/css/style.css">
    </head>

    <body>
<div id="container">
<p>Salut! Numele meu este </p>
<h1>{{owner}}</h1>

<div class="circle"></div>


<h2>IT Professional</h2>
<span>&amp</span>
<h2>Soldat</h2>

<p>Locuiesc în Alba-Iulia, România. Sunt student la programul de master Programare Avansată şi Baze de Date, în cadrul Facultăţii de Ştiinţe Exacte şi Inginereşti, tot aici am absolvit studiile de licenţă în specializarea Informatică.</p>
<p>Job ul meu este în cadrul Ministerului Educaţiei şi Sportului, sunt profesor de Informatică la Şcoala Generală Titu Maiorescu din Câmpeni, iar în timpul liber am o afacere cu câini.</p>
<p>Căţeii mei se numesc: 
<ul>
    <li>Hades</li>
    <li>Alaka</li>
    <li>Cleo</li>
    <li>Casio</li>
    <li>Nerra</li>
</ul>
</p>

          <footer>
            <div class="footer">UAB - Programare Avansata si Baze de Date - {{copyrightInterval}}</div>
        </footer>
</div>
    </body>
</html>