<header id="ma-header">
  <div id="ma-moga-container">
    <img id="ma-moga" src="/MogaAmadeus/img/moga.jpg" alt="{{ author }}" />
  </div>
  <aside>
    <span>{{ author }}</span>
    <span>{{ description }}</span>
  </aside>
</header>