<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mantoiu Daniela Maria</title>
    <link rel="stylesheet" href="MantoiuDaniela/style.css">
</head>
<body>

    <div class="container">
        <p>Aliquam facilisis accumsan tellus id dictum. Praesent id consectetur est. Aenean ut turpis ac odio sagittis interdum. Proin porta consectetur sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque hendrerit felis ac lectus rhoncus sollicitudin. </p>

        <ul>
            <li>Elementul 1</li>
            <li>Elementul 2</li>
            <li>Elementul 3</li>
        </ul>
        <img src="MantoiuDaniela/poza.png" alt=""/>

        <p>Nulla vestibulum accumsan sem, eu pulvinar velit tristique nec. Nulla eu condimentum sapien. Proin euismod congue accumsan. Praesent nec sollicitudin augue. Nullam nec urna tellus. Nam tincidunt, felis vitae ultricies hendrerit, justo massa eleifend velit, vel pharetra mi tortor a turpis. Ut sapien mi, fringilla ac convallis ac, aliquam vitae libero. Morbi condimentum ligula eros, non volutpat mi mattis ac. Nunc molestie iaculis vulputate. Vestibulum semper scelerisque nulla, in porttitor metus. Praesent eleifend eu augue sed placerat. Proin molestie ex sit amet diam placerat, a egestas purus accumsan. Phasellus lacus est, ultrices eu lectus non, luctus suscipit diam. Nullam quis nulla in quam commodo dignissim. </p>

    </div>

</body>
</html>