<HTML>
<HEAD>
<TITLE> 
</TITLE>
<link rel="stylesheet" type="text/css" href="PuiaDaniela/css/style.css">
</HEAD>

<BODY BGCOLOR=#ffe6e6>
<div id="top">
    <div id="name"><H1 ALIGN="CENTER"> Puia Daniela</H1>
        <h2 id="h21">"The things you think about determine the quality of your mind.</h2><h2 id="h22"> Your soul takes on the color of your thoughts."</h2></div>
    <div id="image">
    <IMG src="PuiaDaniela/images/image.jpeg "width="275" height="230" ></IMG>
    </div>
</div>
<div id="about">
    <p>Profesia, profesiunea sau meseria este o ocupație, îndeletnicire cu caracter permanent, o activitate bazată pe o educație specializată, pe care cineva o exercită cu regularitate în baza unei calificări corespunzătoare, în scopul obținerii unei remunerații. Profesia este un complex de cunoștințe teoretice și de deprinderi practice care definesc pregătirea cuiva.</p>
    <div id="left">
    <div class="apt"><h3>Competente si aptitudini organizatorice</h3>
    <ul>
        <li>Experienta buna in coordonarea, impartirea sarcinilor, eficienta in organizare, respectiv mobilizarea unei echipe pentru a duce la bun sfarsit proiectul/aplicatia in cauza.</li>
        <li>Rezistenta la situatii de stres si capacitatea de organizare pentru respectarea termenelor.</li>
    </ul>
    </div>
    <div class="aptitu"><h3>Aptitudini artistice</h3>
    <ul>
        <li>Muzica: voce, pian si chitara</li>
        <li>Desen si pictura</li>
    </ul>
    </div>
    <div id="right"></div>
</div>
</div>
</body>
</html>
