{{ form_start(form) }}
{{ form_widget(form) }}
<div class="row ml-0">
  <button class="btn btn-primary mr-2">Adaugă imagine</button>
  <a class="btn btn-secondary" href="{{ path('app_gallery_index') }}">Înapoi la galerie</a>
</div>
{{ form_end(form) }}