{% extends 'base.html.twig' %}

{% block title %}Imagine nouă{% endblock %}

{% block body %}
<main class="container col-4">
  <h3>Modifică imaginea</h3>

  {{ include('gallery/_update.html.twig') }}
</main>
{% endblock %}