<header id="aa-header">
  <div id="aa-anca-container">
    <img id="aa-anca" src="/AncaAdrian/img/adi.jpeg" alt="{{ author }}" />
  </div>
  <aside>
    <span>{{ author }}</span>
    <span>{{ description }}</span>
  </aside>
</header>