<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/AncaAdrian/css/style.css" />
  <title>{{ author }}</title>
</head>

<body id="aa-body">
  {% block body %}
  <main id="aa-main">
    <img id="aa-background" src="/AncaAdrian/img/background.jpg" alt="Background" />
    {% include 'AncaAdrian/header.html.twig' %}
    {% include 'AncaAdrian/info.html.twig' %}
    {% include 'AncaAdrian/footer.html.twig' %}
  </main>
  {% endblock %}
  <script src="/AncaAdrian/js/javascript.js"></script>
</body>

</html>