<!DOCTYPE html>
<html>
    <head>
        <title>Anca Adrian</title>
        <link rel="stylesheet" href="AncaAdrian/css/style.css">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#skill">Skills</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="home">
                <div class="section-inner">
                    <img src="AncaAdrian/img/adi.jpeg" class="profile-img">
                </div>
            </section>
            <section id="about">
                <div class="section-inner">
                    <h2>Despre mine</h2>
                    <p>Sunt masterand la Universitatea "1 Decembrie 1918" din Alba Iulia, tot aici am finalizat si studiile de licenta.  </p>
                    <p>In prezent lucrez la RCS&RDS pe pozitia de Inginer NOC IP, unde voi face si parte de DevOps suplimentar pe langa atributiile postului.</p>
                    <h3>Ce presupune pozitia mea?</h3>
                    <ul>
                        <li>Rezolvarea problemelor venite din alte departament</li>
                        <li>Configurarea de routere la nivel MAN</li>
                        <li>Intretinere servere</li>
                        <li>Configurarea circuitelor MPLS L2&L3</li>
                        <li>Rezolvarea problemelor telefonic aparute la clienti mari din tara</li>
                    </ul>
                </div>
            </section>
            <section id="skill">
                <div class="section-inner">
                    <h2>Skills</h2>
                    <p>In cei 4 ani de zile de cand lucrez am dobandite mai multe lucruri:</p>
                    <ul>
                        <li>Networking</li>
                        <li>Linux</li>
                        <li>Python</li>
			<li>Linux Server</li>
			<li>PHP</li>
                    </ul>
                </div>
            </section>
        </main>
          <footer>
            	&copy; Anca Adrian
        </footer>
    </body>
</html>