<footer>
	&nbsp;
	<ul id="meniu_footer_mg">
		<li><a href="/marius_groza">Pagina personala</a></li>
		<li><a href="#">Blog</a></li>
		<li><a href="#">Galerie</a></li>
	</ul>
	<div id="autor" class="footer_element">Autor: Marius Groza</div>
	<div id="mail" class="footer_element">E-mail: <a href="mailto:mariusggroza@gmail.com">mariusggroza@gmail.com</a></div>
</footer>