<header>
	<div id="header_text">Marius Groza</div>
	
</header>
<ul id="meniu_mg">
	<li><a href="/marius_groza">Pagina personala</a></li>
	<li><a href="#">Blog</a></li>
	<li><a href="#">Galerie</a></li>
</ul>