<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/CrestinAlexandru/css/style.css" />
    <title>{{ name }}</title>

</head>

<body id="sa-body">
    <main>
        <img id="sa-background" src="/CrestinAlexandru/images/background2.jpg" alt="Background" />
        {% include 'CrestinAlexandru/header.html.twig' %}
        {% include 'CrestinAlexandru/index.html.twig' %}
        {% include 'CrestinAlexandru/footer.html.twig' %}
    </main>

<script src="/CrestinAlexandru/JS/javascript.js"></script>
</body>

</html>