<!DOCTYPE html>
<html>
    <head>
        <title>Visan Cosmin</title>
        <link rel="stylesheet" href="/VisanCosmin/css/style.css">
    </head>

    <body>
            <section >
                <divs>
                    <h3>About me</h3>
                    <img src="/VisanCosmin/images/io.jpg" >
                    <p> Zis si "copilul", la cei 41 de ani reprezint aripa tanara a bugetarilor  din cadrul Apelor Romane; atat de tanar incat
                         sa fiu considerat batranul printre cei neincercati, dar fiul de suflet al tuturor varstnicilor.
                    </p>
                    <p> Dupa cum fiecare atunci cand da de greu are un baiat care-l scoate din incurcatura, eu sunt "baiatul" majoritatii, insa
                        vorba mea are greutatea "pff... ce stii tu..." (toti,2006-2022).
                    </p>
                    <p>In prezent am functiile: "femeia de serviciu electronica" a tuturor, "baiatul cu imprimanta" si "bai, de ce nu-mi merge..." . Si nu sunt platit
                        pe masura indeletnicirilor mele. Dar, nu ma plang.
                    </p>
                    <h3>Ce presupune pozitia mea? "E" mai multe.</h3>
                    <p>
                    <ul>
                        <li>Vinovat in majoritatea cazurilor.</li>
                        <li>Sfatuitorul (doar cand dau de mine).</li>
                        <li>Uneori si IT-st-ul.</li>
                        <li>Rareori topograful.</li>
                        <li>In prezenta mea, domnul inginer.</li>
                        <li>In lipsa mea, ...(va las sa va imaginati)</li>
                    </ul>
                    </p>
                    <h3>Aptitudini</h3>
                    <p>Sub ideea ca omul cat traieste invata, am dobandit urmatoarele aptitudini:</p>
                    <ul>
                        <li>Masuratori terestre</li>
                        <li>Proiectare CAD si GIS mediu</li>
                        <li>Administrare retea</li>
                        <li>Administrare server AD</li>
                        <li>Scripting Python</li>
                    </ul>
                </divs>
            </section>
    </body>
</html>