<!DOCTYPE html>
<html>
    <head>
        <title>{{owner}}</title>
        <link rel="stylesheet" href="PrecupCristian/css/style.css">
    </head>

    <body>
<div id="container">
<p>Salut! Numele meu este </p>
<h1>{{owner}}</h1>

<div class="circle"></div>


<h2>Web Developer</h2>
<span>&amp</span>
<h2>Network Security Officer</h2>

<p>Ma numesc Precup Cristian si sunt <dfn title="nascut in Cimpeni, locuiesc momentan in Alba Iulia, ">Romania</dfn> si sunt pasionat de domeniul IT. Imi place sa invat ceva nou in fiecare zi. Sunt student al Universitatii 1 Decembrie 1918 la <dfn title="Master - Programare avansata si baze de date."> Alba Iulia</dfn> .</p>

<p>Sunt pasionat de: 
<ul>
    <li>Web development</li>
    <li>Programare</li>
    <li>Securitate cibernetica</li>
    <li>Retelistica</li>
    <li>Electronica</li>
</ul>
</p>
<p>Daca ar fi sa aleg o ordine, un top 3 preferate din sub-domeniile IT enumerate mai sus, probabil ar fi asa:</p>
<ol>
    <li>Securitate cibernetica</li>
    <li>Programare</li>
    <li>Retelistica</li>
</ol>
          <footer>
            <div class="footer">UAB - Programare Avansata si Baze de Date - {{copyrightInterval}}</div>
        </footer>
</div>
    </body>
</html>