<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8" />

      <title>Chat page </title>
      </head
   <body>
      <div class="bg-column">
     <div class="row">
	   <h1 style="text-align:center">Hello on chat page!</h1>
		  <div class="column">
			 <div class="brc-content-columns">
				{% include 'show-user/show-user.html.twig' %}
			 </div>
		  </div>
         </div
	  </div>
   </body>
   <footer style="text-align:center">
      <p>Alba Iulia 2022</p>
   </footer>
</html>
