<!DOCTYPE html>
<html lang="en">
<head>
<title>Personal Page</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css.bootsrap.min.css">
    <link rel="stylesheet" href="/CristianaRoxana/style.css">
</head>

<body>
{% block body %}
<div class="content">
  <h1>Pagina Personala-PSE</h1>
  <h2>"The weak can never forgive. Forgiveness is the attribute of the strong."</h2>
  <br>
  <br>
  <img src="/CristianaRoxana/personal.png" alt="Imaginea nu se poate incarca" align="left">
 
  <h3>Aptitudini profesionale</h3>
  <ul>
     <li> Adaptarea – abilitatea de a veni cu soluții în funcție de situație </li>
     <li> Colaborarea virtuală – capacitatea  de a lucra cu echipe virtuale </li>
     <li> Competențele interculturale – Capacitatea de a lucra în diferite medii culturale    </li>
     <li> Transdisciplinaritatea – înțelegerea conceptelor din mai multe discipline</li>
    </ul>
    <br>
    <br>
    <hr> 
    <h1>Proiecte realizate  </h1>
    <ul class="a"> 
    <li>Memory(C++)</li>
    <li>Maze (Java)</li>
    <li>M,N,K -game(C#) -Artificial Intelligence</li>
    <li>Aplicații client-server(C#) </li>
    <li>Pagini Web (PHP,HTML,MySQL,CSS, javascript, Bootstrap,Java)</li>
    <li>Aplicații grafice(Visual Studio OpenGL, DirectX, Python)</li>
    <li>Proiectarea unității de control microprogramate aferente unui procesor CISC</li>
    <li>Baze de date (limbaj MySQL manipulate prin PhP/ Python/Java)</li>
    <li>Recunoaștere și clasificare de sunete/imagini/video (Urban Traffic Sounds, Obiecte Vestimentare, Cars on Movie, Alunițe cancerigene)</li>    
    </ul>
</div>

{% endblock %}
</body>
</html>