<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/BarzGeanina/css/bgstyle.css" />
  <title>Barz Geanina page </title>
</head

<body>

<div class="row row-style">
  <div class="column" >
    <h1>Hello Braz Geanina personal page!</h1>
      <div class="brc-content-columns">
            {% include 'barz_geanina/personal.html.twig' %}
      </div>
  </div>
  <div class="column" >
	<div>
        <img src="/BarzGeanina/images/barz_geanina.jpeg"  style="height:700px" />
      <div>
    </div>
</div>

</body>
</html>
