<html>
   <head>
      <title>{{owner}}</title>
      <link rel="stylesheet" href="BarzGeanina/css/bgstyle.css" />
   </head>
   <body class="body-style">
      <div class="bg-column">
         <h3>Date personale</h3>
         <table class="bg-personal">
            <tbody>
               <tr>
                  <td><span class="mdi mdi-cake-variant"></span>Nume</td>
                  <td>Barz Geanina</td>
               </tr>
               <tr>
                  <td><span class="mdi mdi-cake-variant"></span>Data nașterii</td>
                  <td>13.10.1993</td>
               </tr>
               <tr>
                  <td>Adresă email</td>
                  <td>
                     <a href="geanina.bobariu@gmail.com">geanina.bobariu@gmail.com</a>
                  </td>
               </tr>
               <tr>
                  <td>GitHub account</td>
                  <td>
                     <a href="https://github.com/Geanina93">Geanina93</a>
                  </td>
               </tr>
               <tr>
                  <td>LinkedIn account</td>
                  <td>
                     <a href="https://www.linkedin.com/in/geanina-barz-247b08178/">Geanina Barz</a>
                  </td>
               </tr>
               <tr>
                  <td><span class="mdi mdi-card-account-details"></span>Permis de conducere:</td>
                  <td>B</td>
               </tr>
               <tr>
                  <td><span class="mdi mdi-card-account-details"></span>Citat motivational:</td>
                  <td>
                     <p class="text-style">Eșecul este doar oportunitatea de a lua totul de la capăt, de data aceasta, într-un mod mai inteligent – Henry Ford;</p>
                  </td>
               </tr>
            </tbody>
         </table>
         <section id="about">
            <div class="section-inner">
               <h2>Despre mine</h2>
               <p>Sunt Geanina am {{age}} de ani si sunt junior full stack programer. </br>Am terminat Universitatea 1 Decembrie din Alba Iulia, sectia Informatica.
                  </br>Lucrez in domeniul IT de un an, pe un proiect din zona de Banking.
                  </br>In cadrul proiectului lucram cu latest tehnologies atat pe partea de frontend cat si pe cea de backend.
               </p>
               <h3>Aptitudini</h3>
               <ul>
                  <li>Java (framework:Spring Boot)</li>
                  <li>Angular (framework:PrimeNg) </li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>database</li>
               </ul>
            </div>
         </section>
      </div>
   </body>
   </html>