<div class="bg-column">
  <h3>Date personale</h3>
  <table class="bg-personal">
    <tbody>
	 <tr>
        <td><span class="mdi mdi-cake-variant"></span>Nume</td>
        <td>Barz Geanina</td>
      </tr>
      <tr>
        <td><span class="mdi mdi-cake-variant"></span>Data nașterii</td>
        <td>28 de ani</td>
      </tr>
      <tr>
        <td>Adresă email</td>
		 <td>
       <a href="geanina.bobariu@gmail.com">geanina.bobariu@gmail.com</a>
	    </td>
      </tr>
      <tr>
        <td>GitHub account</td>
        <td>
          <a href="https://github.com/Geanina93">Geanina93</a>
        </td>
      </tr>
      <tr>
        <td><span class="mdi mdi-card-account-details"></span>Permis de conducere:  </td>
        <td>B</td>
      </tr>
	   <tr>
        <td><span class="mdi mdi-card-account-details"></span>Citat motivational: </td>
        <td><p class="text-style">Eșecul este doar oportunitatea de a lua totul de la capăt, de data aceasta, într-un mod mai inteligent – Henry Ford;</p></td>
      </tr>
       </tbody>
  </table>
</div>